$bp_s: 599px;
$bp_m: 1024px;
$bp_l: 1440px;

$space_top: 5.2rem;
$tt: 250ms;

$dashboard_space: 4.5rem;

$dark_main: #191A19;
$dark_second: #2D2E2D;
$dark_third: #242423;
$dark_fourth: #2D2E2C;
$dark_fifth: #2D302D;
$dark_six: #232421;
$dark_seven: #3C3D3C;
$dark_eight: #242523;
$dark_nine: #303230;
$white_main: #FFFFFF;
$grey_main: #C8C8C8;
$grey_second: #D2D2D2;
$grey_third: #626262;
$grey_fourth: #4B4D4B;
$grey_five: rgba(97, 98, 96, 0.9);
$green_main: #75E41E;
$red_main: #DF2A2A;